body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.08em;
    color: #B9B9B9;
    background-color: #ffffff;
}

%container {
    margin: 0 auto;
    width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    @media screen and (min-width: 480px){
        width: 480px;
    }
    @media screen and (min-width: 768px){
        padding-left: 32px;
        padding-right: 32px;
        width: 768px;
    }
    @media screen and (min-width: 1680px){
        padding-left: 16px;
        padding-right: 16px;
        width: 1680px;
    }
}