
.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

    @media screen and (min-width:768px) {
        padding-top: 40px;
    }

}

// Logo

.logo__link {
    @extend %link;
}

.logo__text {
    color: $text-color-dark;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.04em;

    @media screen and (min-width:768px) {
        font-weight: 800;
        font-size: 26px;
        line-height: 1.23;
        letter-spacing: 0.04em;
    }

    &--thumb {
        display: inline-flex;
        align-items: center;
        margin-bottom: 3px;
    }
    
    &--secondary {
        color: $text-color-dark;
        font-weight: 700;
        font-size: 5px;
        line-height: 1.2;
        letter-spacing: 0.18em;
        text-transform: uppercase;

        @media screen and (min-width:768px) {
            font-size: 8px;
            line-height: 1.25;
            
        }
    }

    &--accent {
        color: $accent-color;
        margin-right: 4px;
    }
}

.logo__icon {
    width: 14px;
    height: 19px;

    @media screen and (min-width:768px) {
        width: 22px;
        height: 30px;
    }
}

// Nav menu
.nav {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    
}

.nav__list {
    @extend %list;
    color: $text-color-white;
    display: none;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14em;
    
    text-transform: uppercase;

    @media screen and (min-width:1678px) {
        display: inline-flex;
        margin-right: 0;
        margin-left: auto;

    }
}

.nav__item {
    margin-right: 40px;
}

.nav__link {
    @extend %link;
    color: $text-color-lightgrey;

    &.current {
        color: $accent-color;
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }
}
.btn-nav--call {
    @extend %button;
    background-color: transparent;
    border-color: $accent-color;
    padding: 15px 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14em;
    color: $accent-color;
    text-transform: uppercase;

    @media screen and (max-width:767px) {
        display: none;
    }

    @media screen and (min-width:768px) {
        margin-right: 40px;
        margin-left: 40px;
    }
}

.btn-menu {
    @extend %button;
    background-color: transparent;
    padding: 5px;
    border: none;
    box-shadow: none;

    &:hover,
    &:focus {
        fill: $accent-color;
    }

    @media screen and (min-width:1680px){
        display: none;
    }
}

.icon-menu {
    fill: $text-color-dark;
}


// Mobile menu
.mobile-menu {

    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    top: 0;

    background-color: rgba(17, 21, 24, 0.9);

    &.is-open{
        display: block;
        z-index: 2;
    }


    @media screen and (min-width:768px){
        // padding: 40px;
    }

    @media screen and (min-width:1680px){
        display: none;
    }
}

.mobile-menu__top {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        width: 728px;
        margin-left: auto;
        margin-right: auto;
    }
}

.mobile-menu__logo {
    .logo__text,
    .logo__text--secondary {
        color: $text-color-white;
    }
}

.mobile-menu__content {
    margin-left: auto;
    margin-right: auto;
    width: 280px
}

.mobile-menu__list {
    @extend %list;
    margin-top: 40px;
    width: 280px;

}

.mobile-menu__link {
    @extend %link;
    display: block;
    color: $text-color-white;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.03em;

}

.btn-menu--call {
    @extend %button;
    margin-top: 54px;
    background-color: transparent;
    border-color: $accent-color;
    padding: 15px 10px;
    width: 280px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    color: $accent-color;
    text-transform: uppercase;

    @media screen and (min-width:780px) {
        display: none;
    }
}