<section class="contacts">
  <div class="container">
    <h2 class="contacts__title">
      Registration for a <span class="contacts--accent">free</span> phone
      <span class="contacts--accent">consultation</span> on the nuances of
      English UPE
    </h2>
    <p class="contacts__description">
      Leave a request for participation in a
      <span class="contacts--accent">free lesson</span>. A consultant will
      contact you and answer your questions
    </p>
    <input type="text" name="user-name" id="name" />
    <input type="tel" name="user-tel" id="tel" />
    <button type="submit">i want a free lesson</button>
  </div>
</section>
