<header class="header">
  <div class="header__container">
    <nav class="nav">
      <div class="header__logo logo">
        <a href="" class="">
          <p>
            HELL
            <!-- <svg class="header__icon" width="14" height="19">
              <use href=""></use></svg> -->
            EN
          </p>
          <p><span>HELLISH</span>ENGLISH</p>
        </a>
      </div>

      <ul class="nav__list">
        <li class="nav__item">
          <a href="" class="nav__link current">Studying program</a>
        </li>
        <li class="nav__item"><a href="" class="nav__link">About</a></li>
        <li class="nav__item">
          <a href="" class="nav__link">Training options</a>
        </li>
        <li class="nav__item"><a href="" class="nav__link">Contacts</a></li>
      </ul>
    </nav>

    <a href="" class="nav__anchor-link">Consultation by phone</a>

    <button
      type="button"
      class="btn-menu--open"
      aria-label="button to open mobile menu"
      aria-expended="false"
      aria-controls="nav__menu"
      data-menu-button
    >
      <!-- <svg width="24" height="16">
        <use class="icon-menu" href=""></use>
      </svg> -->
    </button>
  </div>

  <div class="mobile-menu is-hidden">
    <div class="mobile-menu__container">
      <div class="mobile-menu__logo logo">
        <a href="" class="">
          <p>
            HELL
            <!-- <svg class="header__icon" width="14" height="19">
              <use href=""></use></svg -->
            >EN
          </p>
          <p><span>HELLISH</span>ENGLISH</p>
        </a>
      </div>

      <button
        type="button"
        class="btn-menu--close"
        aria-label="button to close mobile menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        data-menu-button
      >
        <!-- <svg width="16" height="16">
          <use class="icon-cross" href=""></use>
        </svg> -->
      </button>

      <ul class="nav__list">
        <li class="nav__item">
          <a href="" class="nav__link current">Studying program</a>
        </li>
        <li class="nav__item"><a href="" class="nav__link">About</a></li>
        <li class="nav__item">
          <a href="" class="nav__link">Training options</a>
        </li>
        <li class="nav__item"><a href="" class="nav__link">Contacts</a></li>
      </ul>

      <a href="" class="nav__anchor-link">Consultation by phone</a>
    </div>
  </div>
</header>
